* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: RedHatText-VariableFont;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fcf8f5;

    >.title {
        width: 90vw;
        margin-inline: auto;
        margin-top: 20px;
        ;
        height: 40px;
        font-size: 1.8rem;
        font-weight: bold;
    }
}

@font-face {
    font-family: RedHatText-VariableFont;
    src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
}

.main-container {
    /* background: red; */
    width: 90vw;
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    overflow-x: hidden;
    position: relative;



    .products {
        width: 75%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        .product-container {
            width: 140px;
            height: 340px;
            /* background-color: green; */
            position: relative;
            margin-bottom: 20px;

            .product {
                height: 250px;
                width: 100%;

                .product-img {
                    border-radius: 10px;
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .add-to-cart-btn-container-wrapper {
                    position: absolute;
                    bottom: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 110px;
                    font-size: 0.8rem;
                    left: 15px;

                    .add-to-cart-btn-container {
                        background-color: white;
                        padding: 5px;
                        border-radius: 15px;
                        border: 1px solid #c73c0d;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 130px;
                        height: 35px;
                        gap: 5px;


                        img {
                            width: 0.7rem;
                            height: 0.7rem;
                            object-fit: cover;
                        }
                    }

                }
            }

            .description-container {
                display: flex;
                flex-direction: column;
                height: 70px;
                /* background-color: blue; */
                margin-top: 20px;

                span:nth-child(1) {
                    font-size: 0.8rem;
                }

                span:nth-child(2) {
                    font-size: 1rem;
                    font-weight: bold;

                }

                span:nth-child(3) {
                    font-size: 1rem;
                    font-weight: bold;

                }
            }
        }

    }


    .cart-wrapper {
        background-color: green;
        position: relative;
        min-height: 300px;
        max-height: 500px;
        width: 350px;
        max-width: 300px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .cart {

            max-height: 3000px;
            width: 400px;
            max-width: 300px;
            overflow-y: scroll;
            padding: 8px;
            margin-top: 40px;

            .cart-header {
                position: absolute;
                top: 0;
                background-color: white;
                color: #ad4026;
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 20px;
                /* background-color: black; */
            }

            .cart-contents {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-block: 10px;


                .cart-item-price {
                    display: flex;
                    justify-content: space-between;

                    .cart-item-price-left {

                        .items-selected-container {
                            display: flex;
                            gap: 10px;

                            >span {
                                display: flex;
                                gap: 0;
                            }
                        }

                    }
                }
            }

            .order-details {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                position: absolute;
                bottom: 0px;
                background-color: white;
                width: 270px;
                padding-block: 20px;
                height: 70px;

                /* total amount details */
                div:nth-child(1) {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }

                /* carbon-details */
                div:nth-child(2) {
                    background-color: #fcf8f7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    border-radius: 10px;
                    width: 240px;
                    height: 2rem;
                    padding-inline: 2px;

                    div {
                        display: flex;
                        column-gap: 10px;
                        font-size: 0.8rem;
                    }
                }

                .confirm-order-btn {
                    border: none;
                    background: #c83b0e;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    color: white;
                    transition: all 200ms ease-in-out;

                    &:hover {
                        background-color: rgba(200, 59, 14, 0.5);
                        color: black;
                    }
                }



            }
        }
    }
}



.text-bold {
    font-weight: bold;
}

hr {
    background: rgba(128, 128, 128, 0.8);
}